apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - ingress.yaml

patchesJson6902:
  - target:
      version: v1
      kind: Service
      name: nginx
    patch: |-
      - op: replace
        path: /spec/ports/0/port
        value: 8080
